# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/

# Java
*.class
*.jar
*.war
*.ear
target/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
